authAclCacheName=aclCache
jwtAllowedClockSkew=30
jwtIssuer=ONCCHPL
jwtAudience=ONCCHPL
jwtExpirationTimeMinutesInTheFuture=30
jwtNotBeforeMinutesInThePast=4
keyLocation=C:\\CHPL\\keys\\JSONRsaJoseJWebKeyTest.txt
jobThresholdDays=7
maxActivityRangeInDays=500
resetLinkExpirationTimeInHours=24
authMaximumLoginAttempts=3

enableCacheInitialization=true
cacheClearTimeoutSecs=15
cacheInitializeTimeoutSecs=300

testDbUser=openchpl
testDbPassword=
testDbServer=localhost/openchpl_test
persistenceUnitName=openchpl-test
questionableActivityEmail=test@email.com
questionableActivityThresholdDays=30

#fuzzy choice options
fuzzyChoiceThreshold=80
fuzzyChoiceLimit=1

# number of tokens per API Key per time unit below
rateTokenLimit=5
# time unit where tokens above will be used
# values are: second, minute, hour
rateLimitTimeUnit=minute

#Asynchronous properties - should always be false for jUnits to properly work in our environment
asyncListingDetailsEnabled=false
asyncCacheRefreshEnabled=false
