<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude" 
    status="warn" monitorInterval="300" name="CHPL-Service-PROD" packages="">
    <Properties>
        <Property name="logDir">${sys:chpl.logging.root}</Property>
    </Properties>
    <xi:include href="log4j2-xinclude-file-appenders.xml" />
    <xi:include href="log4j2-xinclude-file-appenders-console.xml" />
    <xi:include href="log4j2-xinclude-loggers.xml" />
</Configuration>