{
    "extends": [
        "eslint:recommended",
    ],
    "env": {
        "browser": true,
        "jasmine": true,
        "amd": true,
        "es6": true,
    },
    "globals": {
        "module": true,
        "inject": true,
        "process": true,
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
    },
    "rules": {
        "block-spacing": ["error"],
        "comma-dangle": ["error", "always-multiline"],
        "curly": ["error"],
        "default-case": ["error"],
        "eol-last": ["error"],
        "eqeqeq": ["error"],
        "func-call-spacing": ["error"],
        "indent": ["error", 2],
        "key-spacing": ["error"],
        "keyword-spacing": ["error"],
        "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "no-self-compare": ["error"],
        "no-tabs": ["error"],
        "no-trailing-spaces": ["error"],
        "no-unmodified-loop-condition": ["error"],
        "no-useless-return": ["error"],
        "no-whitespace-before-property": ["error"],
        "quotes": ["error", "single"],
        "semi": ["error"],
        "semi-spacing": ["error", {"before": false, "after": true}],
        "sort-vars": ["error"],
        "space-before-blocks": ["error"],
        "space-before-function-paren": ["error"],
        "space-infix-ops": ["error", { "int32Hint": false }],
        "yoda": ["error", "never", { "exceptRange": true }],
    }
}
