<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="warn" monitorInterval="300"
    name="CHPL-Service-STG" packages="">
    <Properties>
        <Property name="logDir">${sys:catalina.home}/logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="FILE" fileName="${logDir}/chplservice.log"
            filePattern="${logDir}/chplservice-%d{yyyyMMdd}.log">
            <PatternLayout>
                <Pattern>%d %p %C %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="chartDataCreatorJob"
            fileName="${logDir}/scheduler/chartDataCreatorJob.log"
            filePattern="${logDir}/scheduler/history/chartDataCreatorJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="summaryStatisticsEmailJob"
            fileName="${logDir}/scheduler/summaryStatisticsEmailJob.log"
            filePattern="${logDir}/scheduler/history/summaryStatisticsEmailJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="summaryStatisticsCreatorJob"
            fileName="${logDir}/scheduler/summaryStatisticsCreatorJob.log"
            filePattern="${logDir}/scheduler/history/summaryStatisticsCreatorJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="urlStatusDataCollectorJob"
            fileName="${logDir}/scheduler/urlStatusDataCollectorJob.log"
            filePattern="${logDir}/scheduler/history/urlStatusDataCollectorJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="questionableUrlReportGeneratorJob"
            fileName="${logDir}/scheduler/questionableUrlReportGeneratorJob.log"
            filePattern="${logDir}/scheduler/history/questionableUrlReportGeneratorJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="certifiedProductDownloadableResourceCreatorJob"
            fileName="${logDir}/scheduler/certifiedProductDownloadableResourceCreatorJob.log"
            filePattern="${logDir}/scheduler/history/certifiedProductDownloadableResourceCreatorJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="g3Sed2015DownloadableResourceCreatorJob"
            fileName="${logDir}/scheduler/g3Sed2015DownloadableResourceCreatorJob.log"
            filePattern="${logDir}/scheduler/history/g3Sed2015DownloadableResourceCreatorJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="surveillanceDownloadableResourceCreatorJob"
            fileName="${logDir}/scheduler/surveillanceDownloadableResourceCreatorJob.log"
            filePattern="${logDir}/scheduler/history/surveillanceDownloadableResourceCreatorJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="brokenSurveillanceRulesCreatorJob"
            fileName="${logDir}/scheduler/brokenSurveillanceRulesCreatorJob.log"
            filePattern="${logDir}/scheduler/history/brokenSurveillanceRulesCreatorJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="brokenSurveillanceRulesEmailJob"
            fileName="${logDir}/scheduler/brokenSurveillanceRulesEmailJob.log"
            filePattern="${logDir}/scheduler/history/brokenSurveillanceRulesEmailJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="inheritanceErrorsReportCreatorJob"
            fileName="${logDir}/scheduler/inheritanceErrorsReportCreatorJob.log"
            filePattern="${logDir}/scheduler/history/inheritanceErrorsReportCreatorJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="inheritanceErrorsReportEmailJob"
            fileName="${logDir}/scheduler/inheritanceErrorsReportEmailJob.log"
            filePattern="${logDir}/scheduler/history/inheritanceErrorsReportEmailJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="cacheStatusAgeJob"
            fileName="${logDir}/scheduler/cacheStatusAgeJob.log"
            filePattern="${logDir}/scheduler/history/cacheStatusAgeJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="triggerDeveloperBanJob"
            fileName="${logDir}/scheduler/triggerDeveloperBanJob.log"
            filePattern="${logDir}/scheduler/history/triggerDeveloperBanJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="apiKeyWarningEmailJob"
            fileName="${logDir}/scheduler/apiKeyWarningEmailJob.log"
            filePattern="${logDir}/scheduler/history/apiKeyWarningEmailJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="apiKeyDeleteJob"
            fileName="${logDir}/scheduler/apiKeyDeleteJob.log"
            filePattern="${logDir}/scheduler/history/apiKeyDeleteJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="questionableActivityEmailJob"
            fileName="${logDir}/scheduler/questionableActivityEmailJob.log"
            filePattern="${logDir}/scheduler/history/questionableActivityEmailJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="pendingChangeRequestEmailJob"
            fileName="${logDir}/scheduler/pendingChangeRequestEmailJob.log"
            filePattern="${logDir}/scheduler/history/pendingChangeRequestEmailJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="interruptJob"
            fileName="${logDir}/scheduler/interruptJob.log"
            filePattern="${logDir}/scheduler/history/interruptJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="massRequirePasswordChangeJob"
            fileName="${logDir}/scheduler/massRequirePasswordChangeJob.log"
            filePattern="${logDir}/scheduler/history/massRequirePasswordChangeJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="updateListingStatusJob"
            fileName="${logDir}/scheduler/updateListingStatusJob.log"
            filePattern="${logDir}/scheduler/history/updateListingStatusJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="update2014ListingStatusJob"
            fileName="${logDir}/scheduler/updateListingStatusJob.log"
            filePattern="${logDir}/scheduler/history/updateListingStatusJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="remove2014UploadTemplateJob"
            fileName="${logDir}/scheduler/remove2014UploadTemplateJob.log"
            filePattern="${logDir}/scheduler/history/remove2014UploadTemplateJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="removeCriteriaJob"
            fileName="${logDir}/scheduler/removeCriteriaJob.log"
            filePattern="${logDir}/scheduler/history/removeCriteriaJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <RollingFile name="removeRT13ECMacraMeasureJob"
            fileName="${logDir}/scheduler/RemoveRT13ECMacraMeasureJob.log"
            filePattern="${logDir}/scheduler/history/RemoveRT13ECMacraMeasureJob-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p (%t) [%C{1}(%M:%L)] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy
                    interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.jose4j" level="ERROR" additivity="false">
            <AppenderRef ref="FILE" />
        </Logger>
        <Logger name="org.hibernate" level="ERROR" additivity="false">
            <AppenderRef ref="FILE" />
        </Logger>
        <Logger name="org.springframework" level="ERROR"
            additivity="false">
            <AppenderRef ref="FILE" />
        </Logger>
        <Logger name="gov.healthit.chpl" level="INFO" additivity="false">
            <AppenderRef ref="FILE" />
        </Logger>
        <Logger name="summaryStatisticsEmailJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="summaryStatisticsEmailJob" />
        </Logger>
        <Logger name="summaryStatisticsCreatorJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="summaryStatisticsCreatorJob" />
        </Logger>
        <Logger name="urlStatusDataCollectorJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="urlStatusDataCollectorJob" />
        </Logger>
        <Logger name="questionableUrlReportGeneratorJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="questionableUrlReportGeneratorJob" />
        </Logger>
        <Logger name="chartDataCreatorJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="chartDataCreatorJob" />
        </Logger>
        <Logger name="certifiedProductDownloadableResourceCreatorJobLogger"
            level="INFO" additivity="false">
            <AppenderRef
                ref="certifiedProductDownloadableResourceCreatorJob" />
        </Logger>
        <Logger name="g3Sed2015DownloadableResourceCreatorJobLogger"
            level="INFO" additivity="false">
            <AppenderRef ref="g3Sed2015DownloadableResourceCreatorJob" />
        </Logger>
        <Logger name="surveillanceDownloadableResourceCreatorJobLogger"
            level="INFO" additivity="false">
            <AppenderRef ref="surveillanceDownloadableResourceCreatorJob" />
        </Logger>
        <Logger name="brokenSurveillanceRulesCreatorJobLogger"
            level="INFO" additivity="false">
            <AppenderRef ref="brokenSurveillanceRulesCreatorJob" />
        </Logger>
        <Logger name="brokenSurveillanceRulesEmailJobLogger"
            level="INFO" additivity="false">
            <AppenderRef ref="brokenSurveillanceRulesEmailJob" />
        </Logger>
        <Logger name="inheritanceErrorsReportCreatorJobLogger"
            level="INFO" additivity="false">
            <AppenderRef ref="inheritanceErrorsReportCreatorJob" />
        </Logger>
        <Logger name="inheritanceErrorsReportEmailJobLogger"
            level="INFO" additivity="false">
            <AppenderRef ref="inheritanceErrorsReportEmailJob" />
        </Logger>
        <Logger name="cacheStatusAgeJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="cacheStatusAgeJob" />
        </Logger>
        <Logger name="triggerDeveloperBanJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="triggerDeveloperBanJob" />
        </Logger>
        <Logger name="apiKeyWarningEmailJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="apiKeyWarningEmailJob" />
        </Logger>
        <Logger name="apiKeyDeleteJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="apiKeyDeleteJob" />
        </Logger>
        <Logger name="questionableActivityEmailJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="questionableActivityEmailJob" />
        </Logger>
        <Logger name="pendingChangeRequestEmailJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="pendingChangeRequestEmailJob" />
        </Logger>
        <Logger name="interruptJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="interruptJob" />
        </Logger>
        <Logger name="massRequirePasswordChangeJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="massRequirePasswordChangeJob" />
        </Logger>
        <Logger name="updateListingStatusJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="updateListingStatusJob" />
        </Logger>
        <Logger name="update2014ListingStatusJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="update2014ListingStatusJob" />
        </Logger>
        <Logger name="remove2014UploadTemplateJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="remove2014UploadTemplateJob" />
        </Logger>
        <Logger name="removeCriteriaJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="removeCriteriaJob" />
        </Logger>
        <Logger name="removeRT13ECMacraMeasureJobLogger" level="INFO"
            additivity="false">
            <AppenderRef ref="removeRT13ECMacraMeasureJob" />
        </Logger>
    </Loggers>
</Configuration>
