<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:sec="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx  
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.0.xsd">
        
   <mvc:annotation-driven />
   <context:annotation-config/>
   <context:component-scan base-package="gov.healthit.chpl" />
   <sec:global-method-security pre-post-annotations="enabled" />
   
   <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
   		<property name="proxyTargetClass" value="true"/>
   </bean>
   
   <bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
   		<property name="prefixJson" value="false"/>
   		<property name="supportedMediaTypes" value="application/json"/>
   </bean>
   
   
   
   <!-- be sure to include the JavaConfig bean post-processor-->
   <bean class="org.springframework.config.java.process.ConfigurationPostProcessor"/>
   
 	<sec:http auto-config='true'>
    	<sec:intercept-url pattern="/**" access="ROLE_USER"/>
	</sec:http>
	
	
	
	
	
	
	
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:org/springframework/security/messages"/>
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
		<property name="url" value="jdbc:hsqldb:mem:test"/>
		<!-- <value>jdbc:hsqldb:hsql://localhost/acl</value> -->
		<property name="username" value="sa"/>
		<property name="password" value=""/>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	<!--  
	<bean id="dataSourcePopulator" class="sample.contact.DataSourcePopulator">
		<property name="dataSource" ref="dataSource"/>
		<property name="mutableAclService" ref="aclService"/>
		<property name="platformTransactionManager" ref="transactionManager"/>
	</bean>
	-->

	<bean id="acbManager" class="gov.healthit.chpl.acb.CertificationBodyManagerImpl">
	   <property name="acbDao">
			<bean class="gov.healthit.chpl.acb..CertificationBodyDAOImpl">
			   <property name="dataSource" ref="dataSource"/>
			</bean>
		</property>
		<property name="mutableAclService" ref="aclService"/>
   </bean>
	
	
	
	
	
	
	
	
	
	
 
</beans>
