<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>CCDA Validation Web Services</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			gov.healthit.chpl.auth.CHPLAuthenticationSecurityConfig,
			gov.healthit.chpl.CHPLConfig
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
    	<servlet-name>FileUploadPage</servlet-name>
    	<jsp-file>/WEB-INF/jsp/fileUpload.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>FileUploadPage</servlet-name>
    	<url-pattern>/FileUpload</url-pattern>
	</servlet-mapping>
	
	<context-param>
	    <param-name>contextClass</param-name>
	    <param-value>
	        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
	    </param-value>
	</context-param>
	 
	<filter>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	 
	<filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<!-- Allow Cross domain requests (critical for the API)  - We may want to filter the connection method at some point -->
	<filter>
  		<filter-name>CorsFilter</filter-name>
  		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
  		<filter-name>CorsFilter</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--Check for Api Key-->
	<!--<filter>
  		<filter-name>ApiKeyFilter</filter-name>
  		<filter-class>gov.healthit.chpl.registration.APIKeyAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
  		<filter-name>ApiKeyFilter</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	
	<filter>
  		<filter-name>apiKeyAuthenticationFilter</filter-name>
  		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
  		<filter-name>apiKeyAuthenticationFilter</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
