<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="CHPLService" packages="">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%p %C %m%n</Pattern>
      </PatternLayout>
    </Console>
  </Appenders>
  <Loggers>
      <Logger name="net.sf.ehcache" level="INFO" additivity="false">
      	<AppenderRef ref="STDOUT"/>
      </Logger>
      <Logger name="org.hibernate" level="INFO" additivity="false">
	      <AppenderRef ref="STDOUT"/>
	    </Logger>
      <Logger name="org.springframework.cache" level="INFO" additivity="false">
      	<AppenderRef ref="STDOUT"/>
      </Logger> 
      <Root level="INFO">
      	<AppenderRef ref="STDOUT"/>
      </Root>
  </Loggers>
</Configuration>