<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="300" name="CHPL-Service-STG" packages="">
        <Properties>
            <Property name="logDir">${sys:catalina.home}/logs</Property>
        </Properties>
  <Appenders>
    <RollingFile name="FILE" fileName="${logDir}/chplservice.log"
                 filePattern="${logDir}/chplservice-%d{yyyyMMdd}.log">
      <PatternLayout>
        <Pattern>%d %p %C %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
  </Appenders>
  
  <Loggers>
  	<Logger name="org.jose4j" level="ERROR" additivity="false">
  		<AppenderRef ref="FILE" />
  	</Logger>
    	 <Logger name="org.hibernate" level="ERROR" additivity="false">
      <AppenderRef ref="FILE"/>
    </Logger>
    <Logger name="org.springframework" level="ERROR" additivity="false">
      <AppenderRef ref="FILE"/>
    </Logger>
    <Logger name="gov.healthit.chpl" level="INFO" additivity="false">
      <AppenderRef ref="FILE"/>
    </Logger>
    <Root level="WARN">
      <AppenderRef ref="FILE"/>
    </Root>
  </Loggers>
</Configuration>