authJndiName=java:comp/env/jdbc/openchpl
authPersistenceUnitName=openchpl
authAclCacheName=aclCache
authMaximumLoginAttempts=5
keyLocation=C:\\JSONRsaJoseJWebKey.txt
jwtAllowedClockSkew=30
jwtIssuer=ONCCHPL
jwtAudience=ONCCHPL
jwtExpirationTimeMinutesInTheFuture=30
jwtNotBeforeMinutesInThePast=4

smtpHost=mailIpOrHost
smtpPort=25
smtpFrom=fromEmailAddress
smtpUsername=yourUsername
smtpPassword=yourPassword

chplUrlBegin=http://localhost:8080 or https://www.opendatachpl.org