authJndiName=java:comp/env/jdbc/openchpl
authPersistenceUnitName=openchpl-test
authAclCacheName=aclCache
authMaximumLoginAttempts=3
jwtAllowedClockSkew=30
jwtIssuer=ONCCHPL
jwtAudience=ONCCHPL
jwtExpirationTimeMinutesInTheFuture=30
jwtNotBeforeMinutesInThePast=4
keyLocation=C:\\CHPL\\keys\\JSONRsaJoseJWebKeyTest.txt

testDbUser=openchpl
testDbPassword=
testDbServer=localhost/openchpl_test